/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-08-2021, 02:54:51 PM
    Author     : Juan
*/
.p-field{
    margin-bottom: 1rem;
}

button.ui-button {
    margin-right: .5rem;
}

